<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <p>Cleaning Inventory</p>

    <tr>
    <td>name </td>
    <td>strength </td>
    <td>quantity </td>
    <td>price </td>
    <td>total </td>

    </tr>

<form    th:action="@{/processclean}" th:object="${cleaningitem}" method="post">
    <tr>

        <input type="hidden" th:field="*{id}"/>


            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>
    <input type="text" th:field="*{name}" />


            <span th:if="${#fields.hasErrors('strength')}" th:errors="*{strength}"></span><br/>
    <input type="text" th:field="*{strength}" />


            <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span><br/>
    <input type="number" th:field="*{quantity}" />


            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span><br/>
 <input type="number" th:field="*{price}" />


            <span th:if="${#fields.hasErrors('total')}" th:errors="*{total}"></span><br/>
<input type="number" th:field="*{total}" />


    </tr>
    <input type="submit" value="Submit Cleaning items inventory"/>
</form>

<a href="/addsnack" > Add Snack items </a>
<a href="/displayJBCinventory" > Display JBC store Inventory </a>
</body>
</html>