<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <p>Cosmetics Inventory</p>

    <tr>
        <td>id</td>
        <td>brand </td>
        <td>popularity </td>
        <td>quantity </td>
        <td>price </td>
        <td>total </td>

    </tr>
<form   th:action="@{/processcosmo}" th:object="${cosmotics}" method="post"   >


    <tr>
        <input type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{brand}" />
            <span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></span><br/>


        <input type="text" th:field="*{popularity}" />
            <span th:if="${#fields.hasErrors('popularity')}" th:errors="*{popularity}"></span><br/>


        <input type="number" th:field="*{quantity}" />
            <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span><br/>

        <input type="number" th:field="*{price}" />
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span><br/>

        <input type="number" th:field="*{total}" />
            <span th:if="${#fields.hasErrors('total')}" th:errors="*{total}"></span><br/>


    </tr>
    <input type="submit" value="Submit Cosmotics inventory"/>

</form>
<a href="/addcleaningitems" > Add Cleaning items </a>

<a href="/displayJBCinventory" > Display JBC store Inventory </a>
</body>
</html>