<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<p>Snack Inventory</p>

<tr>
    <td>name </td>
    <td>crunchiness </td>
    <td>quantity </td>
    <td>price </td>
    <td>total </td>

</tr>


<form   th:action="@{/processsnack}" th:object="${snack}" method="post"   >

    <tr>
        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{name}" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>


        <input type="text" th:field="*{crunchiness}" />
            <span th:if="${#fields.hasErrors('crunchiness')}" th:errors="*{crunchiness}"></span><br/>


        <input type="number" th:field="*{quantity}" />
            <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span><br/>

        <input type="number" th:field="*{price}" />
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span><br/>

        <input type="number" th:field="*{total}" />
            <span th:if="${#fields.hasErrors('total')}" th:errors="*{total}"></span><br/>

    </tr>

    <input type="submit" value="Submit Snack items inventory"/><br/>

</form>

<a href="/" > Add Cosmotics items </a>
<a href="/displayJBCinventory" > Display JBC store Inventory </a>
</body>
</html>